<div class="component histories">

  <div class="wrapper">
    <div class="shell">

      <div class="flex">

        <!--Колонка-->
        <div class="column">
          <div class="items">
            <div class="item"><a href="">Plans & Perspectives</a></div>
            <div class="item"><a href="">2015</a></div>
            <div class="item"><a href="">2010</a></div>
          </div>
        </div>

        <div class="main">

          <div class="presentation" style="background-image:url('../src/images/title.jpg');">
            <div class="presentation-logo"><img src="../dist/images/logo.svg" alt=""></div>
            <div class="presentation-year">25</div>
            <div class="presentation-name">Years in<br> Russian business</div>
            <div class="presentation-icon"><img src="../dist/images/icons/mouse.svg" alt=""></div>
          </div>


          <!--Планы-->
          <div class="plans">
            <div class="plans-name">Plans & perspective</div>
            <div class="widget html">
              <p>
                Jensen Group is one of the largest real estate private equity firms in Russia where it has operated for more than 20 years. Through a Western-styled approach and philosophy to business,Jensen has achieved superior returns to our investors through two boom-bust cycles in one of the world’s most challenging investment markets. Located in its Nevsky Prospect headquarters is Jensen’s vertically integrated team which gives us the capability to move quickly and capitalize on active management and add value through all phases of real estate management.
              </p>
            </div>

            <div class="plan">
              <div class="plan-name">2019</div>
              <div class="widget html">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
              </div>
            </div>
            <div class="plan">
              <div class="plan-name">Till 2025</div>
              <div class="widget html">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
              </div>
            </div>
          </div>


          <!--Список-->
          <div class="histories">
            <div class="history">
              <div class="history-image">
                <img src="../src/images/history.jpg" alt="">
              </div>
              <div class="history-name">2015</div>
              <div class="flex">
                <div class="history-message">
                  <div class="widget html">
                    <p>Jensen Group is one of the largest real estate private equity firms in Russia where it has operated for more than 20 years. Through a Western-styled approach and philosophy to business,Jensen has achieved superior returns to our investors through two boom-bust cycles in one of the world’s most challenging investment markets. Located in its Nevsky Prospect headquarters is Jensen’s vertically integrated team which gives us the capability to move quickly and capitalize on active management and add value through all phases of real estate management.</p>
                  </div>
                </div>
                <div class="history-column">
                  <section data-load='{"url":"../src/app/widgets/gallery/gallery.html"}'></section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
