<!-- News -->
<div class="component news">

  <div class="wrapper">
    <div class="shell">

      <div class="main">

        <!--Фильтр-->
        <section data-load='{"url":"../src/app/widgets/filters/filters.html"}'></section>


        <!--Список-->
        <div class="news-items">
          <section data-load='{"url":"../src/app/components/news/news-item.html"}'></section>
          <section data-load='{"url":"../src/app/components/news/news-item.html"}'></section>
          <section data-load='{"url":"../src/app/components/news/news-item.html"}'></section>
          <section data-load='{"url":"../src/app/components/news/news-item.html"}'></section>
          <section data-load='{"url":"../src/app/components/news/news-item.html"}'></section>
          <section data-load='{"url":"../src/app/components/news/news-item.html"}'></section>
        </div>

      </div>

    </div>
  </div>

</div>
