<!-- News -->
<div class="component news title">

  <div class="wrapper">
    <div class="shell">

      <div class="main">

        <div class="title"><a href="">News and Events</a></div>

        <div class="widget slider">
          <div class="news-items"
               data-slider='{ "dots": true,
        "responsive": [
            {
              "breakpoint": 9999,
              "settings": "unslick"
            },
            {
              "breakpoint": 500
            }
        ]}'>
            <section data-load='{"url":"../src/app/components/news/news-item.html"}'></section>
            <section data-load='{"url":"../src/app/components/news/news-item.html"}'></section>
            <section data-load='{"url":"../src/app/components/news/news-item.html"}'></section>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
