<div class="component personal">

  <div class="wrapper">
    <div class="shell">

      <div class="announce">
        Text if needed. The smartest people work every day to provide the best service and to make our clients happy.
      </div>

      <div class="personal">
        <div class="persona">
          <div class="persona-image" style="background-image:url('../src/images/team.png')"></div>
          <div class="persona-name">Max Holden</div>
          <div class="persona-position">Partner</div>
        </div>
        <div class="persona">
          <div class="persona-image" style="background-image:url('../src/images/team.png')"></div>
          <div class="persona-name">Max Holden</div>
          <div class="persona-position">Partner</div>
        </div>
        <div class="persona">
          <div class="persona-image" style="background-image:url('../src/images/team.png')"></div>
          <div class="persona-name">Max Holden</div>
          <div class="persona-position">Partner</div>
        </div>
        <div class="persona">
          <div class="persona-image" style="background-image:url('../src/images/team.png')"></div>
          <div class="persona-name">Max Holden</div>
          <div class="persona-position">Partner</div>
        </div>
      </div>

    </div>
  </div>

</div>
