<div class="component properties slider">

  <div class="header">
    <div class="title"><a href="">Properties</a></div>
  </div>

  <div class="widget slider">
    <div class="slider" data-slider='{"dots": true}'>
      <div class="slide" style="background-image:url('../src/images/slide.jpg');">
        <div class="slide-card">
          <div class="slide-name">Passage / Boutique Office Center</div>
          <div class="slide-message">
            Located in the historical ensemble of Nevsky Prospect — and moreover the epicenter of St. Petersburg itself— Passage embodies the pinnacle of high-end shopping gallery experience.
          </div>
        </div>
      </div>
      <div class="slide" style="background-image:url('../src/images/slide.jpg');">
        <div class="slide-card">
          <div class="slide-name">Passage / Boutique Office Center</div>
          <div class="slide-message">
            Located in the historical ensemble of Nevsky Prospect — and moreover the epicenter of St. Petersburg itself— Passage embodies the pinnacle of high-end shopping gallery experience.
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
