<!--Владения-->
<div class="component properties">

  <div class="wrapper">
    <div class="shell">

      <!--Фильтр-->
      <section data-load='{"url":"../src/app/widgets/filters/filters.html"}'></section>


      <!--Список-->
      <div class="properties">
        <div class="property">
          <div class="property-box">
            <div class="property-image" style="background-image:url('../src/images/property.jpg')"></div>
            <div class="property-name"><a href="">Passage</a></div>
            <div class="property-message">
              Bolshoy Prospect resides in one of St. Petersburg’s most prestigious and boutique areas, offering exquisite portrait views of famous Lenin Street. 
            </div>
          </div>
        </div>

        <!--Затемнение-->
        <div class="fade"></div>
      </div>

    </div>
  </div>

</div>
