<header>
  <div class="responsive-desktop">
    <div class="header--header">
      <a class="header--item header--link-nav" href=""><span class="header--icon icon icon-bars"></span></a>
      <div class="header--item header--logo">
        <a href=""><img alt="" src="../dist/assets/images/logo.png"></a>
      </div>
      <div class="header--item header--logo responsive-mobile">
        <a href=""><img alt="" src="../dist/images/logo-v.svg"></a>
      </div>
      <div class="header--item header--search">
        <div class="header--numb"><a href=""><span class="header--icon icon icon-search"></span></a></div>
      </div>

      <div class="header--item header--login">
        <div class="header--numb"><a href=""><span class="header--icon icon icon-mail"></span></a></div>
      </div>
    </div>

    <div class="header--footer">
      <a class="header--link-top" href="#"><span class="header--icon icon icon-chevron-up"></span></a>
    </div>
  </div>

  <div class="responsive-mobile">
    <div class="header--header">
      <a class="header--link-nav" data-click='{".js--mobile-nav":{"addClass":"active"}}' href="">
        <span class="header--icon icon icon-bars"></span>
      </a>
      <div class="header--logo"><a href=""><img alt="" src="../dist/images/logo.svg"></a></div>
    </div>

    <div class="header--footer">
      <a class="header--link" data-click='{".js--mobile-search":{"addClass":"active"}}' href="">
        <span class="header--icon icon icon-search"></span>
      </a>
      <a class="header--link" href=""><span class="header--icon icon icon-phone"></span></a>
      <a class="header--link" href=""><img alt="rus" src="../dist/images/flag/rus.png"></a>
    </div>
  </div>
</header>
