<!--Навигация-->
<div class="mobile-nav js--mobile-nav">

  <div class="nav">
    <ul>
      <li><a href="">About us</a></li>
      <li>
        <ul>
          <li class="active">
            <ul>
              <li><a href="">Bolshoy Prospect</a></li>
              <li class="active"><a href="">Passage</a></li>
              <li><a href="">River House</a></li>
              <li><a href="">Nevsky Prospect, 54</a></li>
            </ul>
            <a href="">Retail</a>
          </li>
          <li><a href="">Office</a></li>
          <li><a href="">Residental</a></li>
          <li><a href="">Development</a></li>
        </ul>
        <a href="">Properties</a>
      </li>
      <li><a href="">Investments</a></li>
      <li><a href="">Career</a></li>
      <li><a href="">Contacts</a></li>
    </ul>
  </div>

  <div class="buttons">
    <a href="" class="button"><span class="icon icon-login"></span> &nbsp; LOG IN</a>
  </div>

  <div class="links">
    <div class="link">
      <a href="">Guest registration</a>
    </div>
  </div>

  <div class="buttons">
    <a href="" class="button invert"><span class="icon icon-send"></span> &nbsp; FEEDBACK</a>
  </div>

  <div class="user">
    <div class="user-name">
      Theodore R. Aronson
      & Barbara B. Aronson
    </div>
  </div>

  <div class="links">
    <div class="link">
      <a href="">Investor’s cabinet</a>
    </div>
    <div class="link">
      <a href=""><span class="icon icon-id-badge"></span> &nbsp; Manage your account</a>
    </div>
    <div class="link">
      <a href="">Log out</a>
    </div>
  </div>


</div>
