<!--Навигация-->
<nav class="">

  <a href="" class="close" data-click='{".js--mobile-search":{"removeClass":"active"}}'></a>

  <div class="search">
    <form action="">
      <input type="text" name="" placeholder="Search website" value="">
    </form>
  </div>


  <div class="main">
    <div class="column">
      <div class="nav">
        <ul>
          <li>
            <a href="">About us</a>
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Our history</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Our team</a></li>
            </ul>
          </li>
          <li><a href="">Career</a>
            <ul>
              <li><a href="">Student</a></li>
              <li><a href="">Specialist</a></li>
            </ul>
          </li>
          <li><a href="">Contacts</a></li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="nav">
        <ul>
          <li>
            <a href="">Properties</a>
            <ul class="properties">
              <li class="active">
                <a href="">Retail</a>
                <ul>
                  <li><a href="">Bolshoy Prospect</a></li>
                  <li class="active"><a href="">Passage</a></li>
                  <li><a href="">River House</a></li>
                  <li><a href="">Nevsky Prospect, 54</a></li>
                </ul>
              </li>
              <li><a href="">Office</a></li>
              <li><a href="">Residental</a></li>
              <li><a href="">Development</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="column">
      <div class="nav">
        <ul>
          <li>
            <a href="">Investments</a>
            <ul>
              <li><a href="">Investment philosophy</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="buttons">
        <a href="" class="button"><span class="icon icon-login"></span> &nbsp; LOG IN</a>
      </div>

      <div class="links">
        <div class="link">
          <a href="">Guest registration</a>
        </div>
      </div>

      <div class="buttons">
        <a href="" class="button invert"><span class="icon icon-send"></span> &nbsp; FEEDBACK</a>
      </div>

    </div>
  </div>


</nav>
